<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typhoon HIL  Hackaton</title>
</head>
<body style="text-align:center">

<h1> Welcome to Typhoon HIL Python Hackaton!</h1>
<p>Topic: Smart home energy management<br>
Your task is to balance the loads, solar panel production and battery storage to minimize the electricity cost
</p>
<p>To get the project <a target="_blank" href = "https://github.com/typhoon-hil/hackathon2017">CLICK HERE</a> <br>

    <p>There you can also find info about implementation details</p>
    <p>To see detailed problem explanation <a target="_blank" href="https://github.com/typhoon-hil/hackathon2017/blob/master/spec/Python%20Hackathon%20Task.pdf"> CLICK HERE</a> </p>
    <p>To submit your problem solution <a target="_blank" href="http://127.0.0.1:8000/submit/">CLICK HERE</a></p>


</body>
</html>